.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }


  *{
    font-family: "Poppins", "serif";
    margin: 0px;
  }
  .dropdown-menu{
    background-color: #1a1d20a8;
    .dropdown-item{
        color: white;
        
    }
    .dropdown-item:focus, .dropdown-item:hover{
      background-color: #D8078A !important;
    }
    hr{
      display: block;
      border: 0;
      /* border-top: 1px solid #ccc; */
      ;
      margin: 2px 10px;
      padding: 0;
      border-top: 1px solid rgba(126, 122, 122, 0.671)!important;
      opacity: 1;
  }
  }
  .dropdown-toggle::after {
    display: none;
}

/* .sub-header{
  position: relative;
  top: 75px;
} */
 .top-100{
  top: 76px !important;
 }
 

  .navbar{
    background: transparent;
    
  }
  .navbar-nav .nav-item .nav-link{
    font-size: 1.1em;
    color: #DAE810;
    font-weight: 400;
    text-shadow: 0 0 10px #DAE810, 0 0 20px rgba(218, 232, 16, 0.8);
  }
  .navbar-nav .nav-link:hover{
    color: #D8078A;
    text-shadow: none;
 
  }
  .navbar-nav .nav-link.active {
    color: #D8078A;
    text-shadow: none;
  }
  
  .fa-chevron-down{
    color: #D8078A;
    text-shadow: none;
  }

  .oval-button {
    background-color: #D8078A;
    color: white;
    font-size: 14px;
    border: none;
    padding: 0px 30px; 
    border-radius: 50px; 
    cursor: pointer;
    box-shadow: 0 0 10px rgba(232, 16, 149, 0.5); 
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
    align-content: center;
    height: 50px;
  }
  
  .oval-button:hover {
    background-color: hsl(322, 94%, 38%); /* Slightly darker yellow on hover */
    box-shadow: 0 0 15px rgba(223, 6, 89, 0.8);
    color: white;
    text-decoration: none;
  }

  
  .sub-header{
    background: linear-gradient(90.18deg, #41C152 -2.66%, #FAF002 114.33%);
    /* position: relative;
top: 30px; */
    
  }
  .sub-header-text{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  } 
  .banner-section{
    background: linear-gradient(90deg, #252B83 2.18%, #05BAE6 97.69%);

  }

  .checkout-blob{
    background-color: white;
  }
   .year{
    background: #000000;
    border-radius: 61px;
    color: white;
    display: inline-block;
    padding: 30px 24px;

   }
   .purple-wave{
    position: relative;
    bottom: 1px;
}
/* .blue-wave{
  position: relative;
  top: 49px;
} */
 
.project-text p{
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.checkout-blob{
  background-color: white;

}
.btn-pink{
  background-color: #D8078A;
  color: white;
  font-weight: 500;
  border:none;
  min-width: 130px !important;
  max-width: 300px !important;
   height: 38px;
  top: 3672px;
  left: 668px;
  gap: 0px;
  border-radius: 5px ;
  opacity: 0px;


}
.btn-pink-outline{
  color: #D8078A;
  background-color: white;
  border: 2px solid #D8078A;
  font-weight: 500;
  min-width: 104px;
  max-width: 180px;
  height: 38px;
  top: 3672px;
  left: 668px;
  gap: 0px;
  border-radius: 5px ;
  opacity: 0px;
  a{
      color: #D8078A;

  }
  
}
.btn-light-blue{
  background-color: white;
  color: #262A82;
  font-weight: 500;
  border:none;
  width: 104px;
  height: 38px;
  top: 3672px;
  left: 668px;
  gap: 0px;
  border-radius: 5px ;
  opacity: 0px;
  a{
      color: #262A82;
  }


}
.btn-light{
  font-weight: 500;
  border:none;
  width: 104px;
  height: 38px;
  top: 3672px;
  left: 668px;
  gap: 0px;
  border-radius: 5px ;
  opacity: 0px;
}
.text-blue{
  color: #25297E;

}
.btn-dark{
  background-color: #000000;
  color: white;
  font-size:small;
}
.partner-img {
  max-width: 180px;
  min-width: 100px;
  padding: 0px 20px;
}
.partner-img-2{
  max-width: 150px;
  min-width: 100px;
  padding: 0px 20px;
}
.partner-img-1{
  max-width: 80px;
  min-width: 50px;
  padding: 0px 20px;
}

.ratings{
  margin-right:10px;
}

.ratings i{
  
  color:#ffffff93;
  /* border: 3px solid #FFA43C; */
  font-size:32px;
}

.rating-color{
  color:#FFA43C !important;
  
}
.page-link{
  background-color: #000000;
  color: white;

}
.page-link:hover{
  background-color: white;
  color: black;
  box-shadow: 0 0 0 .2rem rgba(1, 5, 10, 0.25);

}
.active-page{
  background-color: white;
  color: black;
  box-shadow: 0 0 0 .2rem rgba(1, 5, 10, 0.25);

}


@media (max-width:430px) {
  .purple-wave{
      position: relative;
      bottom: 4px;
  }
  .blue-wave {
    position: relative;
    /* top: 59px; */
    z-index: 1;
}
.partner-img {
  max-width: 180px;
  min-width: 170px;
}

  
}
@media (max-width:768px) {
  .top-100{

    top: 62px !important;

  }

  .oval-button {
   
   display: none;
    
  }
 
}

.curvy-background {
  background: linear-gradient(to top, #0a0c40, #0a0c6a); /* Gradient Background */
  text-align: center;
  color: white; /* Adjust text color */
}

/* SVG Waves */
/* .wave {
  position: absolute;
  width: 100%;
  left: 0;
}
 */
.wave-top {
  top: -2px; /* Adjust if needed */
}

.wave-bottom {
  bottom: -2px; /* Adjust if needed */
}