.blob {
    /* height: 60vh; */
    background-image: url('/assets/blob.png'), url('/assets/footer-image.png');
    background-position: -100px 73px, 80% 30%;
    background-size: 45%, 35%;
    background-repeat: no-repeat, no-repeat;
    position: relative; /* Add this to position relative to the blob */
    overflow: hidden;   /* Ensure overflow content is hidden */
}

.blob::before {
    content: url('/assets/blob2.png');
    position: absolute; /* Use absolute positioning */
    top: -80px;         /* Adjust to fit your design */
    left: 0;
    z-index: -1;       
    /* transform: scale(1.8); */
}
.community-border{
    background-image: linear-gradient(180deg, #442A80 0%, #8E2D88 100%);
    z-index: 1;
    margin-top: -20px;
    margin-left: -20px;
    padding: 2px;
    position: relative;



}
.community{
    background-color: white;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin-left: -3rem; */
    padding: 1.8rem 2rem;
    display: flex;
    position: relative;
}
.community-shadow{
    z-index: 1;
    background-image: linear-gradient(180deg, #442A80 0%, #8E2D88 100%);
    margin-top: 20px;
    margin-left: -4rem;
    margin-right: 0;
    padding: 0 20px 20px 0;
    position: relative;
    border-top: 2px solid transparent;
}
.purple-wave{
    position: relative;
    bottom: 1px;
}
.blog_featured-blob {
    z-index: -1;
    height: 130%;
    position: absolute;
    inset: -15% -6% 0% auto;
    top: -15%;
    right: -6%;
    bottom: 0%;
    left: auto;
}
.blob-text{
    font-family: "Poppins",sans-serif;
font-size: 12px;
font-weight: 300;
line-height: 18px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.blob-heading{
    font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 27px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.text-secondary {
    color: #6c757d;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.d-flex {
    display: flex;
    align-items: center;
}

.m-0 {
    margin: 0;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
@media (max-width:430px) {
    .purple-wave{
        position: relative;
        bottom: 4px;
    }
    .community-border {
        margin-left: -20px;
    }
    .community-shadow {
        margin-top: 0;
        margin-left: 20px;
    }
    
}