.blob {
    /* height: 60vh; */
    background-image: url('/assets/blob.png'), url('/assets/footer-image.png');
    background-position: -100px 73px, right top;
    background-size: cover, contain;
    background-repeat: no-repeat, no-repeat;
    position: relative; /* Add this to position relative to the blob */
    overflow: hidden;   /* Ensure overflow content is hidden */
}

.blob::before {
    content: url('/assets/blob2.png');
    position: absolute; /* Use absolute positioning */
    top: -80px;         /* Adjust to fit your design */
    left: 0;
    /* z-index: -1;        Ensure it stays behind other content */
    /* transform: scale(1.8); */
}