label{
    color:#262A82;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #262A82;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #262A82;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
::-ms-input-placeholder { /* Edge 12-18 */
    color: #262b8292;
  }
  .btn-blue{
    background-color: #262A82;
    color: #fff;
    cursor: pointer;

 }
 .btn-blue:hover, .btn-blue:focus{
    background-color: #262A82;
    color: #fff;
    border-color: #D8078A;
    transform: scale3d(1.1, 1.1, 1);
    outline: 0;
    box-shadow: 0 0 0 .2rem #d8078b3f;

 }

 .blob {
    /* height: 60vh; */
    background-image: url('/assets/blob.png'), url('/assets/footer-image.png');
    background-position: -4px 0px, 80% 30%;
    background-size: 22%, 35%;
    background-repeat: no-repeat, no-repeat;
    position: relative;
    overflow: hidden;  /* Ensure overflow content is hidden */
}

.blob::before {
    content: url('/assets/blob2.png');
    position: absolute; /* Use absolute positioning */
    top: -80px;         /* Adjust to fit your design */
    left: 0;
    z-index: -1;       
    /* transform: scale(1.8); */
}
.text-secondary {
    color: #6c757d;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.d-flex {
    display: flex;
    align-items: center;
}

.m-0 {
    margin: 0;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.form-control:focus, .form-control:hover {
    color: #6e4a61;
    background-color: #fff;
    border-color: #D8078A;
    outline: 0;
    box-shadow: 0 0 0 .2rem #d8078b3f;
}
.carousel{
    width: 65%;
}
.carousel-control-next-icon {
    background-image: url('/assets/Caret_Circle_right.png');
}
.carousel-control-next {
    right: -82px;
}
.carousel-control-prev {
    left: -82px;
}
.carousel-control-prev-icon {
    background-image: url('/assets/Caret_Circle_Left.png');
}


@media (max-width:2560px) {
    .our-partners {
        background: url('/assets/our-partner-bg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-top: -119px;
        padding-top: 120px;
        padding-bottom: 71px;
        position: relative;
        z-index: 2;
        min-height: 500px; /* Adjust height as necessary */
    }
}
@media (max-width:768px) {

    .our-partners{
        background-position-y: -209px !important;
        padding-bottom: 78% !important;
        margin-top: -80px !important;
    }

}