.home{
    background-image: url('/assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    position: relative;
    top: 0;
}
.btn-custom{
    background: linear-gradient(90deg, #45C250 0%, #E3EA0C 100%);
    width: 120px;
    height: 38px;
    top: 393px;
    left: 660px;
    gap: 0px;
    border-radius: 5px 5px 5px 5px;
    border: 0px;
    opacity: 0px;
    
}
.text-yellow{
    color: #E3EA0C;
    padding: 5px;

}
.text-pink{
    color:#D8078A
}
.projects{
    background-color: black;
   
    .cards{
        width: 750px;
        background: url('/assets/card-img.png'), linear-gradient(180deg, #1C2373 50.6%, #0C0F2D 337.3%) ;
        background-repeat: no-repeat;
        background-size: cover;
        border:2px solid #DAE810;
        border-radius: 11px;
        
    }
    
}
hr{
    display: block;
    border: 0;
    /* border-top: 1px solid #ccc; */
    margin: 1em 0;
    padding: 0;
    border-top: 1px solid #DAE810 !important;
    opacity: 1;
}
.vr{
    width: 1px;
    height: 70px;
    background-color: #DAE810 !important;
    margin: 0 3px;
    opacity: 1;
}
.view-more{
    background-image: url('/assets/card-button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 66%;
    div{
        margin: 0;
        transform: rotate(90deg);
        position: relative;
        /* position: absolute; */
        left: 31px;
        top: 58%;
        p{
            width: 170px;
            margin: 0px;
            font-family: "Poppins";
            font-size: 20px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: -0.03em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }
    }
}
.card-projects{
    padding: 10px;
    background-image: url('/assets/card-projects.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 30vh;

}

.web-mentis{
    background: linear-gradient(180deg, #442A80 13.26%, #992D89 106.2%);
    /* height: 60vh; */

}
.checkout-blob{
    background-color: white;

}
.btn-pink{
    background-color: #D8078A;
    color: white;
    font-weight: 500;
    border:none;
    min-width: 130px !important;
    max-width: 300px !important;
     height: 38px;
    top: 3672px;
    left: 668px;
    gap: 0px;
    border-radius: 5px ;
    opacity: 0px;


}
.btn-pink-outline{
    color: #D8078A;
    background-color: white;
    border: 2px solid #D8078A;
    font-weight: 500;
    min-width: 104px;
    max-width: 180px;
    height: 38px;
    top: 3672px;
    left: 668px;
    gap: 0px;
    border-radius: 5px ;
    opacity: 0px;
    a{
        color: #D8078A;
 
    }
    
}
.btn-light-blue{
    background-color: white;
    color: #262A82;
    font-weight: 500;
    border:none;
    width: 104px;
    height: 38px;
    top: 3672px;
    left: 668px;
    gap: 0px;
    border-radius: 5px ;
    opacity: 0px;
    a{
        color: #262A82;
    }


}
.btn-light{
    font-weight: 500;
    border:none;
    width: 104px;
    height: 38px;
    top: 3672px;
    left: 668px;
    gap: 0px;
    border-radius: 5px ;
    opacity: 0px;
}
.text-blue{
    color: #25297E;

}
.services {
    background: linear-gradient(180deg, #161736 -26.26%, #262A82 30.13%, #D8078A 130.99%);
    position: relative;
    z-index: 0;
    min-height: 500px; /* Adjust this as needed to ensure enough height for the content */
    padding-bottom: 100px; /* To make space for the wave image */
}

.employee-image{
    background-image: url('/assets/employee-bg.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;

}
.our-partners {
    background: url('/assets/our-partner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -69px;
    margin-top: -80px;
    position: relative;
    z-index: 2;
    min-height: 500px; /* Adjust height as necessary */
}
.carousel-item{
    border-radius: 10px;
    padding: 10px;
    .card-projects{
        padding: 20px;
        background-image: url('/assets/card-projects.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    
    }
}
.carousel{
    width: 80%;
}
.carousel-control-next-icon {
    background-image: url('/assets/Caret_Circle_right.png');
}
.carousel-control-next {
    right: -82px;
}
.carousel-control-prev {
    left: -82px;
}
.carousel-control-prev-icon {
    background-image: url('/assets/Caret_Circle_Left.png');
}
.testimonials{
    background-image: url('/assets/testimonial-bg.png');
}

@media (max-width:430px) {

    .vr{
         width: 100%;
        height: 1px; 
        border-top: 1px solid  #DAE810 ;
        background-color: transparent !important;
        margin:0px;
        margin-top: 15px;
        opacity: 1;
    }
    .view-mob{ 
       
        background-image: url('/assets/view-more-mob.png');
        /* transform: scale(2.3); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0px;
       
            span{
                position: relative;
                top: 15px;
                width: 170px;
                margin: 0px;
                font-family: "Poppins";
                font-size: 20px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: -0.03em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
    
            }
            
        
             
    }
    .mob-text{
        text-align: center;
    }
    

}
.mantis{
   -webkit-animation: mymove3 6s linear infinite;
}
@-webkit-keyframes mymove3{
	
	0%{	transform:rortate(320deg);opacity:1;}
	50%{transform:rotate(10deg);opacity:1;}
    100%{transform:rotate(0deg);opacity:1;}
	}

@media (max-width:768px) {

    .vr{
         width: 100%;
        height: 1px; 
        border-top: 1px solid  #DAE810 ;
        background-color: transparent !important;
        margin:0px;
        margin-top: 15px;
        opacity: 1;
    }
    .view-mob{ 
       
        background-image: url('/assets/view-more-mob.png');
        /* transform: scale(2.3); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0px;
       
            span{
                position: relative;
                top: 25px;
                width: 170px;
                margin: 0px;
                font-family: "Poppins";
                font-size: 20px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: -0.03em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
    
            }
        
             
    }
    

}