html,body{
    overflow-x: hidden;
}
.home{
    background-image: url('/assets/home4k.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
  
}

.typing {
    color: #ffffff;
    font-size: 38px;
    margin: 0px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

 
/* Cursor Blinking Animation */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Glowing Text Effect */
.typed {
    color: #DAE810;
    font-weight: 500;
    text-shadow: 0 0 10px #DAE810, 0 0 20px rgba(218, 232, 16, 0.8);
}


.btn-custom{
    background: linear-gradient(90deg, #45C250 0%, #E3EA0C 100%);
    width: 200px;
    height: 38px;
    top: 393px;
    left: 660px;
    gap: 0px;
    border-radius: 5px 5px 5px 5px;
    border: 0px;
    opacity: 0px;
    
}
.text-yellow{
    color: #E3EA0C;
    padding: 5px;

}
.text-pink{
    color:#D8078A
}
.projects{
    background-color: black;
    padding-top: 91px;
   
    .cards {
        width: 750px;
        background: url('/assets/card-img.png'), linear-gradient(180deg, #1C2373 50.6%, #0C0F2D 337.3%);
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid #DAE810;
        border-radius: 21px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;
    }
    
    .cards:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 20px #DAE810, 0 0 40px rgba(218, 232, 16, 0.8), 0 0 60px rgba(218, 232, 16, 0.6);
    }
    
  
    @keyframes neonGlow {
        0% {
            box-shadow: 0 0 15px #DAE810, 0 0 30px rgba(218, 232, 16, 0.6), 0 0 45px rgba(218, 232, 16, 0.4);
        }
        50% {
            box-shadow: 0 0 20px #DAE810, 0 0 40px rgba(218, 232, 16, 0.8), 0 0 60px rgba(218, 232, 16, 0.6);
        }
        100% {
            box-shadow: 0 0 15px #DAE810, 0 0 30px rgba(218, 232, 16, 0.6), 0 0 45px rgba(218, 232, 16, 0.4);
        }
    }
    
    .cards:hover {
        animation: neonGlow 1.5s infinite alternate;
    }
    
    
}
hr{
    display: block;
    border: 0;
    /* border-top: 1px solid #ccc; */
    margin: 1em 0;
    padding: 0;
    border-top: 1px solid #DAE810 !important;
    opacity: 1;
}
.vr{
    width: 1px;
    height: 70px;
    background-color: #DAE810 !important;
    margin: 0 3px;
    opacity: 1;
}
.view-more{
    background-image: url('/assets/card-button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 66%;
    div{
        margin: 0;
        transform: rotate(90deg);
        position: relative;
        /* position: absolute; */
        left: 31px;
        top: 58%;
        p{
            width: 170px;
            margin: 0px;
            font-family: "Poppins";
            font-size: 24px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: -0.03em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }
    }
}
.card-projects{
    padding: 10px;
    background-image: url('/assets/card-projects.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 30vh;

}

.web-mentis{
    background: linear-gradient(180deg, #442A80 13.26%, #992D89 106.2%);
    /* height: 60vh; */

}

.services {
    /* background: linear-gradient(180deg, #161736 -26.26%, #262A82 30.13%, #D8078A 130.99%); */
    background: linear-gradient(180deg, #161736 -26.26%, #262A82 30.13%, #992D89 106.2%, #D8078A 130.99%);

    position: relative;
    z-index: 0;
    min-height: 500px; /* Adjust this as needed to ensure enough height for the content */
    padding-bottom: 100px; /* To make space for the wave image */
}

.employee-image{
    background-image: url('/assets/employee-bg.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;

}

.carousel-item{
    border-radius: 10px;
    padding: 10px;
    .card-projects{
        padding: 20px;
        background-image: url('/assets/card-projects.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    
    }
}

.carousel{
    width: 50%;
}
.carousel1{
    width: 100% !important;
}
.carousel-control-next-icon {
    background-image: url('/assets/Caret_Circle_right.png');
}
.carousel-control-next {
    right: -82px;
}
.carousel-control-prev {
    left: -82px;
}
.carousel-control-prev-icon {
    background-image: url('/assets/Caret_Circle_Left.png');
}
.testimonials{
    background-image: url('/assets/testimonial-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.testimonial-card{
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background: linear-gradient(136.71deg, rgba(67, 67, 67, 0.86) -24.05%, rgba(0, 0, 0, 0) 115.5%);
    backdrop-filter: blur(216.2393035888672px)


}
.expertise-card:hover{
    /* color: #6e4a61;
    background-color: #fff; */
    border-radius: 20px;
    transform: scale3d(1.1, 1.1, 1);
    border-color: #D8078A;
    outline: 0;
    box-shadow: 0 0 0 .2rem #d8078b3f;

}

@media (max-width:430px) {

    .vr{
         width: 100%;
        height: 1px; 
        border-top: 1px solid  #DAE810 ;
        background-color: transparent !important;
        margin:0px;
        margin-top: 15px;
        opacity: 1;
    }
    .view-mob{ 
       
        background-image: url('/assets/view-more-mob.png');
        /* transform: scale(2.3); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0px;
       
            span{
                position: relative;
                top: 15px;
                width: 170px;
                margin: 0px;
                font-family: "Poppins";
                font-size: 20px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: -0.03em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
    
            }
            
        
             
    }
    .mob-text{
        text-align: center;
    }
    

}
.mantis{
   -webkit-animation: mymove3 6s linear infinite;
}
@-webkit-keyframes mymove3{
	
	0%{	transform:rortate(320deg);opacity:1;}
	50%{transform:rotate(10deg);opacity:1;}
    100%{transform:rotate(0deg);opacity:1;}
	}

@media (max-width:768px) {

    .vr{
         width: 100%;
        height: 1px; 
        border-top: 1px solid  #DAE810 ;
        background-color: transparent !important;
        margin:0px;
        margin-top: 15px;
        opacity: 1;
    }
    .view-mob{ 
       
        background-image: url('/assets/view-more-mob.png');
        /* transform: scale(2.3); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0px;
       
            span{
                position: relative;
                top: 25px;
                width: 170px;
                margin: 0px;
                font-family: "Poppins";
                font-size: 20px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: -0.03em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
    
            } 
             
    }


    
    .carousel{
        width: 100%;
    }

    /* .pb{
        padding-bottom: 1.5rem !important;
    } */
    .mt{
        margin-top:1px;
    }

}

.size{
    align-items: flex-start !important;
    justify-content: flex-end;
    min-height: 500px;
    max-width: 900px;
}


  